.iconSelectorContainer{
    height: 300px;
    overflow-y: scroll;
    i{
        color: var(--main);
        font-size: 18px;
        width: 33%;
        text-align: center;
        cursor: pointer;
    }
    i:hover{
        color: var(--yellow);
        font-size: 18px;
        width: 33%;
        text-align: center;
    }
    .iconSearch{
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
    }
}